<% provide(:title, "About") %>

<h1>About</h1>
<p>
	<h2><strong>Hedspi K56 IS</strong></h2>
	<ul >
		<li>Hoang The Toan</li>
		<li>Dao Van Hung</li>
		<li>Nguyen Hai Ninh</li>
		<li>Nguyen Manh Tuong</li>
		<li>Dang Xuan Binh</li>
	</ul>
</p>
