<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Words by day</h3>
    <%= line_chart current_user.remembers.group(:created_at).count, discrete: true %>
  </div>

</div>