<footer class="footer">
  <small>
    The <a href='#'>English for kids website</a>
    by <a href='#'>Ci Team</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("links.about"), about_path %></li>
      <li><%= link_to t("links.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>